.container {
    background-color: var(--black);
    color: var(--white);
    padding: 20px var(--width-common);
    display: flex;
    justify-content: space-between;
}

.image {
    width: 130px;
}

.like {
    align-self: center;
}

.heart {
    color: var(--red);
    margin-right: 10px;
    cursor: pointer;
}