@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-red: #EC1D24;
  --color-brand-grey: #AAAAAA;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-grey-translucent: #efeff083;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
}

body {
  font-family: var(--font-roboto);
}